name: Build Trow registry
on:
  workflow_dispatch:
    inputs:
      trow_ver:
        description: "Trow version"
        required: true
        default: "v0.9.3"

jobs:
  build_trow:
    runs-on: windows-2025
    steps:
      - name: Clone
        id: checkout
        uses: actions/checkout@v6
        with:
          repository: Trow-Registry/trow
          ref: ${{ github.event.inputs.trow_ver }}

      - name: Build
        id: rust_build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          rustup --version
          rustup update
          cargo install sqlx-cli
          mkdir -p target && cargo sqlx database setup
          cargo build --release

      - name: Pack artifacts
        id: pack_artifacts
        run: |
          7z a trow-${{ github.event.inputs.trow_ver }}.zip .\target\release\trow.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: trow-${{ github.event.inputs.trow_ver }}.zip
          name: trow-bin
