name: Build Tesseract
on:
  workflow_dispatch:
    inputs:
      tess_ver:
        description: "Tesseract version"
        required: true
        default: "5.5.1"
      lept_ver:
        description: "Leptonica version"
        required: true
        default: "1.86.0"

jobs:
  build_win:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    env:
      INSTALL_DIR: "d:/a/local"
      PKG_CONFIG_PATH: "d:/a/local/lib/pkgconfig"
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              name: "Windows MSVC latest - x86",
              os: windows-latest,
              arch: x86,
              triplet: x86-windows-static,
              platform: Win32,
            }
          - {
              name: "Windows MSVC latest - x64",
              os: windows-latest,
              arch: x64,
              triplet: x64-windows-static,
              platform: x64,
            }

    steps:
      - name: Checkout Tesseract
        uses: actions/checkout@v6
        with:
          repository: tesseract-ocr/tesseract
          ref: ${{ github.event.inputs.tess_ver }}
          submodules: recursive

      - name: Install vcpkg
        run: |
          git clone --depth 1 https://github.com/microsoft/vcpkg
          vcpkg/bootstrap-vcpkg.bat
          vcpkg/vcpkg integrate install

      - name: Build and Install libraries using vcpkg
        run: vcpkg/vcpkg install --triplet ${{ matrix.config.triplet }} giflib libjpeg-turbo liblzma libpng tiff zlib-ng jbigkit openjpeg libarchive zstd curl

      - name: Build and Install webp
        run: |
          git clone --depth 1 -b v1.5.0 https://github.com/webmproject/libwebp.git && cd libwebp
          cmake . -Bbuild -G "Visual Studio 17 2022" -A ${{ matrix.config.platform }} -DCMAKE_BUILD_TYPE=Release `
           -DWEBP_BUILD_CWEBP=OFF -DWEBP_BUILD_DWEBP=OFF -DWEBP_BUILD_GIF2WEBP=OFF -DWEBP_BUILD_IMG2WEBP=OFF `
           -DWEBP_BUILD_WEBPINFO=OFF -DWEBP_BUILD_WEBPMUX=OFF `
           "-DCMAKE_TOOLCHAIN_FILE=${env:GITHUB_WORKSPACE}/vcpkg/scripts/buildsystems/vcpkg.cmake" `
           -DVCPKG_TARGET_TRIPLET=${{ matrix.config.triplet }} `
           "-DCMAKE_INSTALL_PREFIX=${env:INSTALL_DIR}"
          cmake --build build --config Release --target install

      - name: Build Leptonica using cmake
        run: |
          git clone --depth 1 -b ${{ github.event.inputs.lept_ver }} https://github.com/DanBloomberg/leptonica.git
          cd leptonica
          cmake . -B build -G "Visual Studio 17 2022" -A ${{ matrix.config.platform }} -DCMAKE_BUILD_TYPE=Release `
           -DSW_BUILD=OFF -DBUILD_PROG=OFF -DBUILD_SHARED_LIBS=ON `
           "-DCMAKE_TOOLCHAIN_FILE=${env:GITHUB_WORKSPACE}/vcpkg/scripts/buildsystems/vcpkg.cmake" `
           -DVCPKG_TARGET_TRIPLET=${{ matrix.config.triplet }} `
           "-DCMAKE_INSTALL_PREFIX=${env:INSTALL_DIR}"
          cmake --build build --config Release --target install

      - name: Build and Install tesseract
        run: |
          cmake . -Bbuild -G "Visual Studio 17 2022" -A ${{ matrix.config.platform }} -DCMAKE_BUILD_TYPE=Release `
           -DBUILD_TRAINING_TOOLS=OFF -DSW_BUILD=OFF -DBUILD_SHARED_LIBS=ON -DOPENMP_BUILD=OFF `
           "-DCMAKE_TOOLCHAIN_FILE=${env:GITHUB_WORKSPACE}/vcpkg/scripts/buildsystems/vcpkg.cmake" `
           -DVCPKG_TARGET_TRIPLET=${{ matrix.config.triplet }} `
           "-DCMAKE_INSTALL_PREFIX=${env:INSTALL_DIR}"
          cmake --build build --config Release --target install

      - name: Display Tesseract Version
        continue-on-error: true
        run: d:\a\local\bin\tesseract.exe --version

      - name: Upload binaries
        uses: actions/upload-artifact@v6
        with:
          name: tesseract-${{ matrix.config.arch }}
          path: d:\a\local\bin
